---
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import { newtApiClient } from "@/api/newtApiClient";
import type { Member, Client, Partner } from "@/types/newt";
import CustomTypography from "@/components/CustomTypography/index.astro";
import ExternalLinkIcon from "@/components/Icons/ExternalLinkIcon.astro";
import { getFeed } from "@/api/rssClient";

const client = newtApiClient();

const [partnerResponse, memberResponse, clientResponse, podcastResponse] = await Promise.all([
  client.getContents<Partner>({
    appUid: "website",
    modelUid: "partner",
  }),
  client.getContents<Member>({
    appUid: "website",
    modelUid: "member",
    query: {
      order: ["name"],
    },
  }),
  client.getContents<Client>({
    appUid: "website",
    modelUid: "client",
  }),
  getFeed({
    limit: 10,
  }),
]);

const { items: members } = memberResponse;
const { items: partners } = partnerResponse;
const { items: clients } = clientResponse;
const { items: podcasts } = podcastResponse;
---
<ContentPageLayout title="About us">
  <section class="body">
    <div class="header">
      <CustomTypography as="h1" variant="title-large">About us</CustomTypography>
      <CustomTypography variant="body-large">Impressiveは関わる人の多様な背景、文化、視点を大切にしています。それぞれの経験、才能、スキルが交わることで、チーム全体で豊かな創造力が育まれています。</CustomTypography>
    </div>

    {
      members && members.length > 0 && (
      <section class="members" id="members">
        <CustomTypography as="h2" variant="title-medium">Members</CustomTypography>

        <CustomTypography variant="body-large">Impressiveで働く個性豊かなメンバーを紹介します。</CustomTypography>

        <div class="member-index">
          {
            members.map((member) => (
              <a href={`/about-us/${member.slug}`} class="member-index-item" data-astro-prefetch>
                <div class="member-thumbnail">
                  <img src={`${member.portrait.src}?format=webp&width=724&height=724`} srcset={`${member.portrait.src}?format=webp&width=1448&height=1448`} alt={member.portrait.altText} width={member.portrait?.width} height={member.portrait.height} transition:name={`portrait-${member.slug}`} transition:persist />
                </div>
                <div class="member-caption">
                  <CustomTypography as="h2" variant="body-large">{member.name}</CustomTypography>
                  {
                    member.positions && member.positions.length > 0 && (
                      <ul class="positions">
                        {member.positions.map((position) => (
                          <>
                            <CustomTypography class="positions-item" as="li" variant="body-small">{position.name}</CustomTypography>
                          </>
                        ))}
                      </ul>
                    )
                  }
                </div>
              </a>
            ))
          }
        </div>
      </section>
      )
    }

    {
      podcasts && podcasts.length > 0 && (
        <div class="podcasts" id="podcasts">
          <CustomTypography as="h2" variant="title-medium">
            Podcasts
          </CustomTypography>

          <CustomTypography variant="body-large">
            Impressiveの社風やメンバーの声をお届けするPodcastを配信しています。
          </CustomTypography>

          <div class="podcast-list">
            {
              podcasts.map((podcast) => (
                <a href={podcast.link} target="_blank" rel="noopener noreferrer" class="podcast-list-item">
                  <CustomTypography as="h3" variant="title-small">
                    {podcast.title}
                    <ExternalLinkIcon />
                  </CustomTypography>

                  <CustomTypography variant="body-large" class="podcast-list-item-description">
                    {podcast.contentSnippet}
                  </CustomTypography>
        
                  <CustomTypography variant="body-large" class="podcast-list-item-date">
                    {new Date(podcast.pubDate).toLocaleDateString("en-US", { month: "long", year: "numeric", day: "numeric"})}
                  </CustomTypography>
                </a>
              ))
            }
          </div>

          <CustomTypography variant="body-large" as="a" href="https://podcasters.spotify.com/pod/show/impv-timz/" target="_blank" rel="noopener noreferrer" class="more-link">
            Show more
          </CustomTypography>
        </div>
      )
    }
    
  </section>
</ContentPageLayout>

<style>
.body {
  display: block grid;
  gap: var(--gap-medium);
}

.member-index {
  display: grid;
  gap: var(--gap-small);
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  padding: 0 0 var(--gap-small);
}

.member-index-item {
  display: grid;
  grid-template-rows: subgrid;
  gap: 0.8rem;
  grid-row: span 2;
  color: var(--fg-subtle);
  text-decoration: none;
}

.member-index-item:hover {
  color: var(--fg-subtle-hover);
}

.member-thumbnail {
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.member-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-index-item:hover .member-thumbnail img {
  background-color: var(--bg-subtle);
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--fg-subtle);
  aspect-ratio: 1 / 1;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-medium);
}

.members {
  display: grid;
  gap: var(--gap-small);
  padding: var(--gap-small) 0;
}

.partners {
  display: grid;
  gap: var(--gap-small);
  padding: var(--gap-small) 0;
}

.clients {
  display: grid;
  gap: var(--gap-small);
  padding: var(--gap-small) 0;
}

.partner-index,
.client-index {
  column-count: 6;
  display: block;
}

.partner-index-item,
.client-index-item {
  padding-right: var(--gap-small);
}

.positions {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
  flex-wrap: wrap;
}

.positions-item:not(:first-child):before {
  content: "/";
  padding: 0 0.2rem;
}

.podcasts {
	display: grid;
  gap: var(--gap-small);
  padding: var(--gap-small) 0;
}

.podcast-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
	gap: 0 var(--gap-small);
}

.podcast-list-item {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	padding: 2.4rem;
	border-top: 1px solid var(--border-default);
	border-bottom: 1px solid var(--border-default);
	margin-top: -1px;
	text-decoration: none;
	color: currentColor;
}

.podcast-list-item:hover {
	background-color: var(--bg-default-hover);
}

.podcast-list-item-description {
	color: var(--fg-subtle);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.podcast-list-item-date {
	color: var(--fg-subtle);
}

.more-link {
	justify-self: flex-end;
}

@media (max-width: 1280px) {
  .partner-index,
  .client-index {
    column-count: 5;
  }
}

@media (max-width: 1024px) {
  .partner-index,
  .client-index {
    column-count: 4;
  }
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
  }

  .member-index {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .partner-index,
  .client-index {
    column-count: 3;
  }

  .profile-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .partner-index,
  .client-index {
    column-count: 2;
  }
}
</style>